<mat-card
  [class.winner-highlight]="borderHighlight"
  appearance="outlined"
>
  @if (!isGameStarted) {
    <mat-card-header>
      <mat-card-title>
        Press <b>Play</b> to start!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img
        [width]="placeholderWidth"
        [height]="placeholderHeight"
        src="swlogo.png"
      />
    </mat-card-content>
  } @else {
    <mat-card-header>
      <mat-card-title>
        <b>{{ gameMode === 'PEOPLE' ? person?.name : starship?.name }}</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (gameMode === 'PEOPLE') {
        <div>
          <b>Mass:</b> {{ (person?.mass ? person?.mass : 'n/a ') + 'kg' }}
        </div>
        <div>
          <b>Height:</b> {{ +person!.height / 100 }}m
        </div>
        <div>
          <b>Birth year:</b> {{ person?.birth_year }}
        </div>
        <div>
          <b>Gender:</b> {{ person?.gender }}
        </div>
      } @else {
        <div>
          <b>Crew:</b> {{ starship?.crew ? starship?.crew : 'n/a' }}
        </div>
        <div>
          <b>Passengers:</b> {{ starship?.passengers }}
        </div>
        <div>
          <b>Manufacturer:</b> {{ starship?.manufacturer }}
        </div>
        <div>
          <b>Price:</b> ᖬ{{ starship?.cost_in_credits !== 'unknown' ?  starship!.cost_in_credits : '-' }}
        </div>
      }
    </mat-card-content>
  }
</mat-card>
